#cuadro{
 color:#ffffff;
  font-weight:bold;
}	

#titulo{
	color:darkblue;
	font-weight:bold;
}

#b{color:darkblue;
font-weight:bold;}

.parrafo
{
	text-align:justify;
}

.b{color:darkblue;
font-weight:bold;}
