.navbar {
  background: linear-gradient(#051126 70%,#203560);  	
  padding: 0;
}

.navbar-toggler-icon
{
	  background-color:white;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
  
  
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
 color:white;
  font-weight: 500;
  white-space: nowrap;
  transition: 0.3s;

}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color:white;
}


.m{margin-left:-50px;padding-top:-45px;}