.centrar{width:350px;height:400px;margin-top:70px;}
.ta{width:300px;height:220px;}

.ta1{width:300px;height:220px;}

.l{
text-align:justify;
}

#fondo{
  background: linear-gradient(#0c1b36 70%,#0c1b36);  

}

#titulo{
	color:darkblue;
	font-weight:bold;
}

@media only screen and (max-width: 600px) {
  
  .centrar {
	width:200px;height:200px;  
    margin-left:140px;
  }
  
  .ta{width:200px;height:120px;margin-left:30px;}
  
  .ta1{width:200px;height:120px;margin-bottom:20px;margin-left:30px;}
  
  .is{
margin-left: 80px;

}
  
}